
.section-testimonials{
	blockquote p{
		font-weight: 300;
	}
}

.woocommerce , 
.woocommerce-page{
	.multi-post .products .product{

		.the-item-title{
			padding: 10px 20px;
			display: block;
		}
		span.onsale,
		.woocommerce input.alt.button{
			color: #fff;
			text-shadow: none;
		}
	}
}