.section-islider{


	overflow-x: hidden;
	
	.islider-header{
		display: inline-block;
		position: absolute;
		z-index: 10;
		height: 50%;
		padding: 0 80px;
		overflow: auto;
		margin: auto;
		top: 0; left: 0; bottom: 0; right: 0;
		text-align: center;
		color: @white;

		a{
			color: @white;

			i{
				height: 14px;
				width: 14px;
				margin-left: 5px;
				padding: 4px;
				border-radius: 50px;
				border: 2px solid #fff;
			}
		}
		

	}

	.flex-slider { 
 		
		position: relative;
		max-width: 86%; 
		margin: 0 auto; 
		padding: 20px 0 0 0; 
		
		.no-js .slides > li:first-child { 
			display: block; 
		}
		
		.islider-direction-nav {

			li{
				display: inline-block;

				a{
					position: absolute;
					display: inline-block;
					top: 0; 
				   	height: 100%;
			   		width: 68px;
					font-size: 0;
					opacity: .3;
					.transition(opacity 0.1s ease-in-out);

				   	&.islider-prev{
				   		left: -85px;
				   		background: url(@{plChildRoot}/sections/islider/prev_2x.png) no-repeat center center;
				   		background-size: 68px 131px;
				   	}

				   	&.islider-next{
				   		right: -85px;
				   		background: url(@{plChildRoot}/sections/islider/next_2x.png) no-repeat center center;
				   		background-size: 68px 131px;
				   	}
				   	
				   	&:hover{
				   		opacity: 1;
				   	}
				}

			}

		}

		.islider-viewport { 
			
			//overflow: visible!important; 


			.slides { 
			
				zoom: 1; 
				display: block;
				margin: 0; 
				list-style: none;
				
				li { 
					display: none;  
					position: relative; 
					

					img {
						display: block; 
						height: auto;
						width:100%;
						margin: 0 auto;
						padding: 0 15px;
						cursor: default;
						opacity: .33;
						-webkit-filter: grayscale(1);
						box-sizing: border-box;
						.transition(all .3s);
						
					}
				}

				li.islider-active-slide img {
					cursor: pointer; 
					opacity: 1; 
					-webkit-filter: grayscale(0%);
				}

				&:after{
					
					visibility: hidden; 
					line-height: 0; 
					height: 0; 
				}

			}
	
		}

		.islider-control-nav{
				text-align: center;
			li{
				display: inline-block;
				margin: 0 5px;
width: 12px;
height: 12px;
			}
			a{
				cursor: pointer;
				width: 6px; 
				height: 6px; 
				margin: 2px 0 0 2px;
				float: left;
				font-size: 0;
				background: #999;
				border: 1px solid transparent; 
				.border-radius(25px);


				&.islider-active{
					margin: 0;
					width: 10px; 
					height: 10px; 
					background: transparent; 
					border: 1px solid #999;
				}
			}
		}
	


	}
}