.section-ifooter{
	.ifooter-container{
		border-top: 1px solid #e3e3e3;
		padding-top: 10px;
		font-size: .86em;
	}
	.copyright-text{
		opacity: .5;
	}
	.tagline-text p,
	.copyright-text p{
		font-size: 12px;
		margin: 0;
	}
	.logo img{
		max-height: 40px;
	}	
	
	.media-list{
		margin-bottom: 1em;
		 li{
			> a{
				color: @pl-text;
				opacity: .7;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}