
.resp-tabs-list{
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
	display:inline-block;
	width: 100%;

	li {
	    font-size: 14px;
	    display: inline-block;
	    padding: 5px 35px;
	    margin: 0;
	    list-style: none;
	    cursor: pointer;
	    border: 1px solid @baseContrastDark;
	    border-right: none;
		z-index: 1;
		
		&:first-child{
			.border-radius(4px 0 0 4px);
		}
		&:last-child{
			.border-radius(0 4px 4px 0);
			border-right: 1px solid @baseContrastDark;
		}
		&.resp-tab-active {
			border: 1px solid @linkColorHover;
			color:  @baseContrastSlight;
			background: @pl-link;

			&:hover { 
				color: @baseContrastSlight; 
			}
		}
		&:hover { 
			color: @pl-link; 
		}
	}
}

.resp-tab-content {
    display: none;
    padding: 5px 15px!important;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px 15px;	
    display: none;
}


resp-accordion-active {
    display: block;
}


h2.resp-accordion {

    font-size: 14px;
    border: 1px solid #e1e1e1;
    border-top: 0px solid #e1e1e1;
    margin: 0px;
    padding: 10px 15px;

}

h2.resp-tab-active {
    margin-bottom: 0px ;
    padding: 10px 15px ;
	color:  @baseContrastSlight;
	background: @pl-link;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 20%;
	
	li {
	    display: block;
	    padding: 10px !important;
	    margin: 0;
	    cursor: pointer;
	    text-align: left;
		
		border-left: none;
		border-right: none;
		border-bottom: none;

		&:first-child{
			.border-radius(0);
		}

		&:last-child{
			border-bottom: 1px solid @baseContrastDark!important;
		}
		&.resp-tab-active {	
		    position: relative;
		    z-index: 1;
		    padding: 10px !important;
			background-image: none;
			border: none;
		}
		&.resp-tab-active:after{
			width: 0px;
		    height: 0px;
		    border-style: solid;
		    border-width: 20px 0px 20px 20px;
		    border-color: transparent transparent transparent @pl-link;
		    position: absolute;
		    top: 50%;
		    right: -20px;
		    margin-top: -20px;
		    content: "";

		}
	}
}


.resp-vtabs .resp-tabs-container {
    padding: 0 0 0 3%;
    float: left;
    width: 77%;
    min-height: 150px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
	
}

/*-----------Accordion styles-----------*/

.resp-easy-accordion  h2.resp-accordion {
    display: block;

    	&:hover { 
			color: @pl-link; 
		}
}
h2.resp-tab-content{
		&:hover { 
			color: #fff; 
		}
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #e1e1e1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #e1e1e1 !important;
	.border-radius(0 0 4px 4px);
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #e1e1e1 !important;
	.border-radius(4px 4px 0 0);
}
h2.resp-accordion:last-child {
	.border-radius(0 0 4px 4px);
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-tab-content-active{
    	padding: 30px;
    	border: 1px solid @baseContrastDark;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
        padding: 0;
    }
    .resp-accordion-closed {
        display:none !important;
    }
}
a